#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center horizontally */
    height: calc(100svh - 4rem);
    width: 100%;
}

.skill-container::-webkit-scrollbar {
    width: 15px;
    /* Width of the scrollbar */
}

.skill-container::-webkit-scrollbar-thumb {
    background-color: #dfa0a0;
    /* Color of the scrollbar thumb */
    border-radius: 10px;
    /* Rounded corners for the thumb */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.skill-container::-webkit-scrollbar-track {
    background-color: #DEE2E3;
    /* Background color of the scrollbar track */
    border-radius: 10px;
}

.skill-container {
    border-radius: 30px;
    /* You can adjust the radius as needed */
    background-color: rgba(255, 255, 255, 0.3);
    /* Set the background color if needed */
    padding: 2% 5%;
    /* Add padding to give it some space */
    overflow: auto;
    width: 100%;
    height: calc(75vh - 4rem);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    .text-center {
        font-size: 5vw;
        font-weight: bolder;
        text-shadow: 1px 1px 1px #585858,
            1px 2px 1px #585858,
            1px 3px 1px #585858,
            1px 4px 1px #585858,
            1px 1px 1px rgba(16, 16, 16, 0.4);
        will-change: transform;
        cursor: default;
        display: inline-block;
    }

    .wrap {
        max-width: auto;
        margin: 0 auto;
    }

    @media screen and (min-width: 1100px) {
        .text-center {
            font-size: 2.5rem;
        }
    }

    .container {
        width: 100%;
        height: 100svh;
    }

    .row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
        grid-gap: 30px;
    }

    .skills {
        text-align: center;
        margin-top: 2%;
        padding: 4% 2%;
        border-radius: 15px;
        cursor: pointer;
        background: transparent;
        transition: transform 0.5s, background 0.5s;
    }

    .skills i {
        font-size: 4em;
        margin-bottom: 10px;
        color: #dfa0a0;
    }

    .skills h2 {
        font-weight: 600;
        margin-bottom: 8px;
        font-size: 1rem;
    }

    .skills:hover {
        background: #dfa0a0;
        color: #fff;
        transform: scale(1.05);
    }

    .skills:hover i {
        color: #fff;
    }
}