*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
}

body {
    background: #dfa0a0;
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}

html {
    scroll-behavior: smooth;
}