/* Importing Google font - Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

h1 {
    color: #d46666;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
}

.container {
    display: inline-block;
    vertical-align: top;
    height: 6rem; /* Adjust the height as needed */
    overflow: hidden;
    min-height: 3rem;
}

h1 span {
    color: #d46666;
    position: relative;
    display: inline-block; /* Make the span an inline-block element */
    min-height: 3rem; /* Set a minimum height */
}

h1 span::before {
    content: "";
    height: 80px;
    width: 5px;
    position: absolute;
    top: 50%;
    right: -8px;
    background: #d46666;
    transform: translateY(-45%);
    animation: blink 0.7s infinite;
}

h1 span.stop-blinking::before {
    animation: none;
}

@keyframes blink {
    50% { opacity: 0 }
}

#home {
    height: calc(100vh - 4rem);
    width: 100vw;
    /* max-width: 75rem; */
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.bg {
    position: absolute;
    top: 1rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 85vh;
}

.bgleft {
    position: absolute;
    top: 1rem;
    right: 20rem;
    z-index: -1;
    object-fit: cover;
    height: 85vh;
}

.homeContent {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro,
.hello {
    font-size: 1.75rem;
    font-weight: 400;
}

.intro {
    margin-top: 1rem;
}

.myname {
    color: #d46666;
}

.introPara {
    font-size: medium;
    font-weight: 300;
}

.btn {
    background: #d46666;
    margin: 1rem 0;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 2rem;
}

.icon,
.text {
    color: #fff;
    margin: 0 5px;
}

@media screen and (min-width: 840px){
    .homeContent {
        font-size: 4vw;
    }

    .iam {
        font-size: 4vw;
    }

    .intro,
    .hello {
        font-size: 3.5vw;
    }
}

@media screen and (max-width: 840px){
    .bg{
        right: -10vw;
    }

    .container,
    .homeContent {
        font-size: 10vw;
    }

    .intro,
    .hello {
        font-size: 4.5vw;
    }
}

@media screen and (max-width: 480px){
    .bg{
        right: -20vw;
    }
}